<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="github" value="https://nuget.pkg.github.com/nickdevlive/index.json" />
    </packageSources>
    <packageSourceCredentials>
        <github>
            <add key="Username" value="NickDevLive" />
            <add key="ClearTextPassword" value="b99e55486a7831380df294af001cfbf9c6c67e65" />
        </github>
    </packageSourceCredentials>
</configuration>